.button {
    display: inline-block;

    box-sizing: border-box;
    padding: 8px;

    cursor: pointer;
    transition: all 0.2s;
    text-align: center;

    border: none;
    border-radius: 5px;

    font-size: 14px;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    border: 1px solid var(--gray-light);
    background: none;
}

.ghost:hover {
    color: var(--white);
    background-color: var(--black);
}

.ghost:hover svg {
    fill: var(--white);
}

.arrow {
    display: inline-block;

    margin-left: 8px;
}

.down {
    transform: rotate(90deg);
    transition: 0.2s;
}
