.wrapper {
	margin-top: 40px;
}

.title {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: center;
	justify-items: left;
	gap: 16px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;
	justify-items: left;
	gap: 16px;
}
