.up {
	position: fixed;
	right: 32px;
	bottom: 32px;

	width: 40px;
	height: 40px;

	cursor: pointer;
	text-align: center;

	color: var(--white);
	border: none;
	border-radius: 10px;
	background: var(--primary);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-weight: bold;
}

.up:hover {
	background: var(--primary-hover);
}
