.menu ul {
	padding: 0;
}

.menu li {
	list-style-type: none;
}

.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;

	font-weight: 500;
	line-height: 24px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 8px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 12px;

	font-weight: 300;
	line-height: 16px;
}

.secondBlock {
	margin-top: 12px;
	margin-left: 11px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
    overflow: hidden;
}

.secondLevelBlockOpened {
	display: block;
}

.thirdLevel {
	display: block;

	margin-bottom: 8px;

	cursor: pointer;

	color: #64666B;

	font-size: 14px;

	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
